$eas: cubic-bezier(0.695, 0.335, 0.370, 1.010);
$eas-return: cubic-bezier(.47,-0.29,.79,.99);
$dur: .33333s;

$white: #fff;
$red: #cd4848;
$orange: #f5ac56;
$green: #75e16c;

$font: Helvetica, Arial, sans-serif
